@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(210, 215, 221);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(197, 204, 212);
  }
}